<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Article" value="Article_id"/>
    <add key="Person" value="Person_id"/>
  </appSettings>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cnStr"
            connectionString="Data Source=|DataDirectory|\DataBase\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />

      <add name="cnString"
         connectionString="Data Source=|DataDirectory|\DataBase\Database1.sdf"
         providerName="System.Data.SqlServerCe.4.0" />

    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>